/*
Athor: Swapnil Ashok Dewalkar
Email: swapdewalkar@gmail.com
*/

td,th{
	//width:200px;
}
input{
	border:0px;
	width:150px;
}
td >input{

}
td.addRowInput{

}
td > input.addRowInput{
	background: #0F5252;
	width:150px;
	border:1px solid black;
	border-radius: 5px;
}